@model Decision

<div>
    <form asp-action="MakeChoice" id="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h3>@Model.Title</h3>

        <p>@Model.Description</p>

        <div class="justify-content-center">
            @foreach (var option in Model.Options)
            {
                <div class="m-1 col-12">
                    <input class="btn btn-dark btn-choice text-wrap" type="button" id="choice_@option.Id" value="@option.Text" />
                </div>
            }
        </div>
    </form>
</div> 