@model GameEngine
@{
    ViewData["Title"] = "Expectancy";
}

<div class="text-center">
    <h1 class="display-4">Expectancy</h1>

    @*@Html.EditorForModel()*@

    @if(Model.HasSave)
    {
        <p>Theres a game in play</p>
    }
    else
    {
        <p>Start a new game?</p>
    }
</div>
