@model HomeViewModel
@{
    ViewData["Title"] = "Expectancy";
}

<div class="text-center">
    <h1 class="display-4">Expectancy</h1>

    @if(Model.HasGame)
    {
        <p>Theres a game in play</p>
        @Html.EditorFor(model => model.GameEngine)
    }
    else
    {
        <a asp-controller="Home" asp-action="NewGame" class="">Begin Your Journey</a>
    }
</div>

<style>
    body {
        background-color: #010e2b;
        color: #89b8f1;
    }
    a {
        color: #89b8f1;
        text-decoration: none;
    }
</style>